[ghq]
	username = kokoichi206
[user]
	# 設定漏れを黙って埋めさせない。これが無いと git は OS アカウントから
	# author を推測し、`Takahiro Tominaga <user@Host.local>` のような値で commit する。
	useConfigOnly = true

# identity と署名鍵はマシンごとに異なるため Git では管理しない。
# 実体が無ければ commit は Author identity unknown で停止する。
[include]
	path = ~/.gitconfig-identity
# 個人リポジトリはどのマシンからでも個人 identity で commit する。
# 業務機からの commit で業務アドレスが公開リポジトリの履歴に載るのを防ぐ。
# gitdir は実パスで照合するため、~/ghq を symlink にすると一致しなくなる。
[includeIf "gitdir:~/ghq/github.com/kokoichi206/"]
	path = ~/.gitconfig-identity-personal
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/.git-templates/git-secrets
[core]
	excludesfile = /Users/kokoichi/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/kokoichi/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	sw = !git branch --all --format=\"%(refname:short)\" | fzf | xargs git checkout
	ac = !git-auto-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[gpg]
	program = /opt/homebrew/bin/gpg
